@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{ margin: 0;padding: 0;}
body{ font-family: 'Ubuntu', sans-serif;}
h1,h2,h3,h4,h5,h6{font-family: 'Ubuntu', sans-serif;}
.container{width: 1170px;margin: auto;padding: 15px;padding-right: 15px;}

.lightboxWrapper{
    width: 1000px;
    position: relative;
}
.imagetag{
    width: 399px;
    float: left;
    padding-right: 13px;
}

.imagetag img {
    width: 65%;
    height: 282px;
    margin-left: 70px;
    margin-top: 48px;
}

.imagetag span {
    text-align: center;
    font-size: 36px;
    color: #4a00ff;
    padding-left: 128px;
}

.imagetag input {
    width: 307px;
    height: 46px;
    margin-top: 15px;
    margin-bottom: 140px;
    border-radius: 12px;
    border: none;
    padding-left: 49px;
    margin-left: 29px;
    font-size: 23px;
    text-transform: capitalize;
}

.imagetag {
    background: url(wZAcEX.jpg)
}

.imagetag button {
    width: 123px;
    font-size: 23px;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 37px;
    margin-bottom: 12px;
}


.container {
    padding-left: 202px;
    
}




.imagetag input:first-child {
    margin-bottom: 38px;
    margin-top: 50px;
}


.pop_up2 {
    position: absolute;
    left: 356px;
    background: #5d26b4;
    top: 132px;
    width: 358px;
    height: 193px;
    padding: 20px 30px;
    border-radius: 16px;
    display: none;
}
.showBox{    
   display:block;
}
.okk-btn #open-popup-btn {
    font-size: 18px;
}

.title {font-size: 27px;text-align: center;padding: 10px;padding-bottom: 17px;padding-left: 11px;background: #c2bbba;border-radius: 9px;text-transform: capitalize;}

.description {
    font-size: 32px;
    text-align: center;
}

.confirm-btn button {margin-left: 118px;margin-top: 27px;font-size: 18px;text-transform: capitalize;padding: 10px 15px;border-radius: 8px;}

.confirm-btn button:hover {
    background: green;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
